<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../application_styles.css" type="text/css" />
    <title>Title</title>
</head>
<body>
<div class="wrapper">
    <div class="header">
        <img src="../images/logo.png"/>
        <a href="/login" ><button>Sign In</button></a>
    </div>
    <div class="navbar"  align="center">
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <form th:action="@{/login}" method="post">
                <div><label> User Name : <input type="text" name="username"/> </label></div>
                <div><label> Password: <input type="password" name="password"/> </label></div>
                <div><input type="submit" value="Sign In"/></div>
            </form>
            <div><a th:href="@{users/registration}"><button>Sign Up</button></a></div>
        </div>
    </div>
    <h3>Connect to Facebook</h3>
    <form action="/connect/facebook" method="POST">
        <input type="hidden" name="scope" value="email"/>
        <button type="submit">Connect to Facebook</button>
    </form>
    <form action="/connect/twitter" method="POST">
        <button type="submit">Connect to Twitter</button>
    </form>
</div>
</body>
</html>