<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../application_styles.css" type="text/css" />
    <meta charset="UTF-8"/>
    <title>Registration</title>
</head>
<body>
<div class="wrapper">
    <div class="header">
        <img src="../images/logo.png"/>
        <a href="/login" ><button>Sign In</button></a>
    </div>
    <div class="navbar"  align="center">
    </div>
</div>
<div class="container" align="center">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <form th:action="@{/registration}" th:object="${user}" method="post">
                <input type="hidden" th:field="*{id}" />
                <input type="hidden" th:field="*{userRole}" />
                <table>
                    <tr>
                        <td>Email:</td>
                        <td><input type="text" th:field="*{email}" /></td>
                        <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td><input type="password" th:field="*{password}" /></td>
                        <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
                    </tr>
                    <tr>
                        <td><button type="submit">Save</button></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
</body>
</html>