.btn-signin {
    background-color: #a0d914;
    margin-bottom: 7px;
}

button.edit {
    background-color: #a0d914;
}

.form-login {
    width: 400px;
    margin-left: 130px;
}

.form-social {
    display: inline-block;
    margin: auto;
}

.div-social {
    text-align: center;
}

.btn-social {
    width: 100px;
    margin-bottom: 5px;
}

.container-login {
    border: 2px solid black;
    border-radius: 10px;
    width: 500px;
    margin-top: 50px;
}

.container-profile-settings {
    border: 2px solid black;
    border-radius: 10px;
    width: 700px;
    margin-top: 50px;
}

.checkbox-group {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}

.file-area {
    width: 100%;
    position: relative;
}

.file-area input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}

.file-area .file-dummy {
    width: 100%;
    padding: 30px;
    background: rgba(255, 255, 255, 0.2);
    border: 2px dashed rgba(255, 255, 255, 0.2);
    text-align: center;
    transition: background 0.3s ease-in-out;
}

.file-area .file-dummy .success {
    display: none;
}

.file-area:hover .file-dummy {
    background: rgba(255, 255, 255, 0.1);
}

.file-area input[type=file]:focus + .file-dummy {
    outline: 2px solid rgba(255, 255, 255, 0.5);
    outline: -webkit-focus-ring-color auto 5px;
}

.file-area input[type=file]:valid + .file-dummy {
    border-color: rgba(0, 255, 0, 0.4);
    background-color: rgba(0, 255, 0, 0.3);
}

.file-area input[type=file]:valid + .file-dummy .success {
    display: inline-block;
}

.file-area input[type=file]:valid + .file-dummy .default {
    display: none;
}

img.avatar {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    vertical-align: middle;
}

div.profile-data {
    border: 2px solid black;
    display: inline-block;
    width: 100%;
    position: relative;
    bottom: 2px;
}

div.profile-field {
    padding-left: 10px;
}

div.profile-field p {
    display: inline-block;
}

div.profile-field p, label {
    margin: 2px;
}

div.avatar {
    line-height: 240px;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid black;
    height: 240px;
}

div.filmings {
    border-radius: 0 0 10px 10px;
    position: relative;
    bottom: 6px;
    text-align: center;
    height: 60px;
}

div.filmings .profile-field {
    display: inline;
}

div.filmings label {
    display: block;
    text-align: center;
    font-size: 14px;
}

div.numberOfModels {
    border-radius: 0;
    position: relative;
    bottom: 4px;
}

.container-profile-data {
    padding-top: 10px;
}

div.nickname {
    border: 2px solid black;
    border-radius: 10px 10px 0 0;
    background: #a0d914;
    font-size: 30px;
    color: white;
    line-height: 40px;
}

div.nickname p {
    margin: 0;
    height: 40px;
    vertical-align: middle;
    padding-left: 10px;
    display: inline-block;
}

div.photos {
    border: 2px solid black;
    border-radius: 10px;
}

div.photo {
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    width: 20%;
    height: 200px;
    margin: 5px;
}

div.img-photo {
    height: 90%;
    line-height: 90%;
}

div.img-photo img {
    width: 100%;
    vertical-align: middle;
}