<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
	<link rel="stylesheet" href="../application_styles.css" type="text/css" />
    <title>portfl</title>
</head>
<body>
	<div class="wrapper">
		<div class="header">
			<img src="../images/logo.png"/>
			<a href="/login" ><button>Sign In</button></a>
		</div>
		<div class="navbar"  align="center">
		</div>
	</div>
    <h1 th:inline="text" align="center">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</body>
</html>