<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Portfl</title>
</head>
<body>
    <p th:text="${profile.nickname}"></p>
    <p th:text="${profile.height}"></p>
    <p th:text="${profile.weight}"></p>
    <p th:text="${profile.birthday}"></p>
    <div th:each="photo : ${photos}">
        <img th:src="${photo.url}"/>
        <form role="form" th:action="@{/like} + ${thisId}" method="post" class="form-likes">
            <input type="hidden" th:object="${photo}"/>
            <button type="submit" th:value="${photo.userSet.size()}"></button>
        </form>
    </div>
    <form method="POST" th:action="@{/photo/upload} + ${thisId}" enctype="multipart/form-data">
        <p>File to upload:</p>
        <div id="dropContainer" style="border:1px solid black;height:100px;">
            Drop Here
        </div>
        <input id="fileUpload" type="file" name="photo" multiple="multiple"/>
        <input type="submit" value="upload" />
    </form>
    <div th:if="${ableToEdit}"><a th:href="'../users/profile_settings' + ${thisId}"><button>settings</button></a></div>
    <script>
        dropContainer.ondragover = dropContainer.ondragenter = function(evt) {
            evt.preventDefault();
        };

        dropContainer.ondrop = function(evt) {
            // pretty simple -- but not for IE :(
            fileInput.files = evt.dataTransfer.files;
            evt.preventDefault();
        };
    </script>
</body>
</html>